*~
*.a
*.o
*.la
*.lo
*.log
*.m4
*.pc
*.so
*.swp
*.swo
*.trs
*_t
.*
aclocal.m4
ar-lib
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
luksmeta.pc
Makefile.in
Makefile
missing
tags
test-*
vgcore.*

cmd/jose
jose/jose.h
tests/b64
tests/jwk
tests/jwkset
tests/jws
tests/jwe
tests/rsa_oaep
