*~
*.a
*.o
*.la
*.lo
*.log
*.m4
*.pc
*.so
*.swp
*.swo
*.trs
*_t
aclocal.m4
ar-lib
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
Makecache
Makefile.in
Makefile
missing
tags
test-*
vgcore.*

cmd/jose
jose/jose.h

tests/alg_*
tests/api_*
!tests/alg_*.c
!tests/api_*.c

doc/doxygen/man/man3/*
!doc/doxygen/man/man3/jose_*.3
